.single p.favorite-links a{
    text-decoration: none;
    box-shadow: none;
    border-bottom: 2px dotted indianred;
}

.favorite-links.add-to-favorite img{
    position: relative;
    top: 3px;
}

.hidden{
    display: none;
}